@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: #0039AA;
$black: #000000;
$green: #009500;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$danger: red;
$success: green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: $primary;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/components/panel.sass";
@import "../../node_modules/bulma/sass/helpers/typography.sass";
@import "../../node_modules/bulma/sass/helpers/flexbox.sass";

.input {
	// Less distracting text fields
	border-top: none;
	border-left: none;
	border-right: none;
}

.proof {
	width: 100%;
	height: 100%;
}

.proof-header {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin: 1rem auto;

	white-space: nowrap;
}

.proof-rows {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: stretch;

	cursor: move;
}

.proof-box {
	position: relative;
	width: 100%;
	/* Leave space for box indicator on the left */
	padding: /* top */ 0.5em
			 /* right */ 0
			 /* bottom */ calc(0.5em + 0.5em)
			 /* left */ calc(0.75em);
	margin-bottom: 1rem;

	border-color: $black;
	border-bottom: solid;

	/* Work around Bulma .column negative margin */
	&:not(:first-child) {
		margin-top: -0.75rem;
	}

	&::before {
		content: '';
		position: absolute;

		top: 1.5em;
		height: calc(100% - 1.5em);
		left: 0;
		width: 0.5em;

		border-style: solid none none solid;
		border-color: inherit;
		border-width: medium;
	}
}

.proof-row {
	// Leave some space for success indication on last row
	border: solid transparent;
	.proof.complete .proof-rows > &:last-child {
		border-color: $success; // Indicate correct proof
	}

	&.dragged-over {
		flex-wrap: wrap;
		background-color: $beige-light;

		&::after {
			content: '';

			flex-basis: 100%;
			height: 0;
			margin: 0.5rem 2rem;

			border-bottom: thick dashed $pink;

			animation-duration: 1s;
			animation-name: fadein;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	top {
		opacity: 1;
	}
}

.proof-row .invalid input, .formula-field.invalid input {
	border-color: $danger;
}

// Make the premises always take up at least one line to avoid having
// stuff move around when the first premise is added.
.proof-header .premises:empty::before {
	// In absense of premises: Insert a single ZeroWidthSpace
	content: '\200B';
}

// No border under conclusion text field
.conclusion-field:not(.invalid) > input {
	border-color: transparent;
}

.arg-field {
	width: 4rem;
}
