@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Functions must be imported before use.
@import "bulma/sass/utilities/functions.sass";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$blue: #0039aa;
$black: #000000;
$green: #009500;
$white: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$danger: red;
$success: green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: $primary;
$input-placeholder-color: #505050; // Change placeholder color to to a more visible one.

$modal-card-head-background-color: $primary;
$modal-card-title-color: findColorInvert($modal-card-head-background-color);

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/panel.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/helpers/typography.sass";
@import "bulma/sass/helpers/flexbox.sass";

.input {
	// Less distracting text fields
	border: {
		top: none;
		left: none;
		right: none;
	}
}

.proof {
	flex-direction: column;
	align-items: stretch;
}

.proof-header {
	display: flex;
	justify-content: space-around;

	margin: 1rem auto;

	white-space: nowrap;
	vertical-align: top;
}

.proof-rows {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	cursor: move;
}

.proof-box {
	position: relative;
	width: 100%;
	/* Leave space for box indicator on the left */
	padding: /* top */ 0.5em /* right */ 0 /* bottom */ calc(0.5em + 0.5em)
		/* left */ calc(0.75em);
	margin-bottom: 1rem;

	border-color: $black;
	border-bottom: solid;

	/* Work around Bulma .column negative margin */
	&:not(:first-child) {
		margin-top: -0.75rem;
	}

	&::before {
		content: "";
		position: absolute;

		top: 1.5em;
		height: calc(100% - 1.5em);
		left: 0;
		width: 0.5em;

		border-style: solid none none solid;
		border-color: inherit;
		border-width: medium;
	}
}

.proof-row {
	// Leave some space for success indication on last row
	border: solid transparent;
	.proof.complete .proof-rows > &:last-child {
		border-color: $success; // Indicate correct proof
	}

	&.dragged-over {
		flex-wrap: wrap;
		background-color: $beige-light;

		&::after {
			content: "";

			flex-basis: 100%;
			height: 0;
			margin: 0.5rem 2rem;

			border-bottom: thick dashed $pink;

			animation-duration: 1s;
			animation-name: fadein;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	top {
		opacity: 1;
	}
}

.proof-row .invalid input,
.formula-field.invalid input {
	border-color: $danger;
}

// Make the error messages always take up at least one line to avoid
// having stuff move around when they appear.
.help.is-danger:empty::before {
	// In absense of premises: Insert a single ZeroWidthSpace
	content: "\200B";
}

.premises > input {
	text-align: right;
}

.conclusion-field {
	white-space: normal;
}

// No border under conclusion text field
.conclusion-field:not(.invalid) > input {
	border-color: transparent;
}

.arg-field {
	width: 4rem;

	&.hint {
		position: absolute;
		border-color: transparent;
		color: #999;
	}

	&:not(.hint) {
		background-color: transparent;
	}
}

[role="toolbar"] {
	padding: 0.5em;

	background-color: lighten($beige-light, 10%);
}

.columns.is-gapless.rule-columns {
	margin-bottom: 0;
}
